.main-menu {
    margin-right: 0;
}

.main-nav {
    min-height: 70px;
    width: 100%;
}

.nav-logo-text {
    font-size: 24px;
    font-weight: 700;
}

.nav-menu a {
   padding-left: 40px;
   width: 100%;
   font-size: 18px;
   font-weight: 400;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 40, 95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}